// 
.form-wrap {
    width: 300px;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    >div {
        width: 100%;
    }
}

// 
.form-header {
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    .column {
        color: #ffffff;
        float: left;
        font-size: 16px;
    }
    span {
        float: right;
        font-size: 12px;
        opacity: .3;
    }
}